.big-hero.camp {
	background: 
	linear-gradient(
		to bottom,
		rgba($purple, 0.8),
		rgba($purple, 0.8)),
		url("http://i.imgur.com/1GlO72p.jpg");
	background-size: cover;
	background-position: center center;
	padding: 4em 0;
	color: white;
	text-shadow: 0 0 1em rgba(0,0,0,0.25);
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.5em;
		margin-bottom: 2rem;
	}
	h3 {
		font-weight: normal;
		font-size: 1.5em;
		margin-bottom: 0;
	}
	.buttons {
		margin-top: 2em;
		.button {
			padding: 0.5em 1em;
			background: white;
			display: inline-block;
			margin-right: 1em;
			color: $purple;
			text-shadow: none;
			border-radius: 5px;
			&.focus {
				background: $rm-accent;
				color: white
			}
		}
	}
	@media screen and (max-width: 960px) {
		font-size: 0.75em;
		padding: 2em 0;
		.wrapper.outer {
			padding: 0 2rem;
		}
		h1 {
			font-size: 2em;
		}
		h2 {
			margin-bottom: 1em; 
		}
		.buttons .button {
			margin-top: 1em;
		}
	}
}
.copy-page.new.camp {
	#copy {
		text-align: left;
		h2.info {
			font-size: 1.5em;
			margin-bottom: 1em;
		}
		p.main {
			margin-bottom: 0;
		}
		@media screen and (max-width: 960px) {
			h2.info {
				font-size: 1em;
			}
			p.main {
				margin-bottom: 2em;
			}
		}
	}
	#blocks {
		@include span-columns(12);
		li {
			@include span-columns(12);
			border-radius: 5px;
			margin-bottom: 1em;
			padding: 2em;
			min-height: 20rem;
			background: $purple;
			color: white;
			background-size: cover;
			background-position: center center;
			> h2,
			> p {
				@include span-columns(8 of 12);
			}
			h2 {
				font-size: 2em;
				margin-bottom: 1rem;
			}
			p {
				margin-bottom: 0;
			}
		}
		@media screen and (max-width: 960px) {
			li {
				min-height: 0;
				> h2,
				> p {
					@include span-columns(12);
				}
				h2 {
					font-size: 1.5em;
				}
			}
		}
	}
	.brumhack {
		@include span-columns(12);
		background: black;
		border-radius: 5px;
		margin-bottom: 1em;
		padding: 2em;
		* {
			color: #00ff00;
		}
		img {
			height: 3rem;
		}
		p {
			margin-top: 1em;
		}
		a {
			display: inline-block;
			text-decoration: underline;
		}
	}
	#form {
		@include span-columns(12);
		margin-top: 2em;
		display: block;
		h1, p {
			text-align: left;
		}
	}
}