{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Camp{% endblock %}
{% block content %}
  <div class="big-hero camp">
    <div class="wrapper outer">
      {{ cms.camp.hero_text|markdown }} 
      <div class="buttons">
        {% for button in cms.camp.hero_buttons %}
          <a href="{{ button.url }}" class="button {% if button.focus %}focus{% endif %}">{{ button.text }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="wrapper outer copy-page new camp">
    <section id="copy">
      <h2 class="info">October 29 2016, University of Birmingham.</h2>
      <p class="main">{{ cms.camp.introduction }}</p>
    </section>
    <ul id="blocks">
      {% for box in cms.camp.boxes %}
        <li style="background-image: linear-gradient( to bottom, rgba(117,140,160,0.6), rgba(117,140,160,0.6)), url('{{ box.image.url  }}');">
          <h2>{{ box.title }}</h2>
          <p>{{ box.copy }}</p>
        </li>
      {% endfor %}
    </ul>
    <div class="brumhack">
      <img src="{{ cms.camp.brumhack_image.url }}" alt="BrumHack Logo">
      <p>{{ cms.camp.brumhack_copy }}</p>
      <a href="http://brumhack.co.uk">Visit BrumHack</a>
    </div>
    <div id="form">
      <h1>We want your thoughts!</h1>
      <p>Regardless of the capacity in which you would like to be involved, we know you’ve got thoughts on how to make Rebel Makers Camp great - and we’d love to hear them! We will read and respond to every piece of feedback given!</p>
      <form action="https://formspree.io/makerscamp@rebellabs.co.uk" method="POST">
        <div class="input-group">
          <label for="name">Your name</label>
          <input type="text" name="name" id="name">
        </div>
        <div class="input-group">
          <label for="email">Email address</label>
          <input type="email" name="_replyto" id="email">
        </div>
        <div class="input-group">
          <label for="comments">What are your thoughts?</label>
          <textarea rows="3" name="comments" id="comments"></textarea>
        </div>
        <input type="hidden" name="_subject" value="Rebel Makers Camp - Thoughts">
        <input type="text" name="_gotcha" style="display:none">
        <input type="submit" value="Let's go!">
      </form>
    </div>
  </div>
{% endblock %}
