{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.contact.name }}{% endblock %}
{% block content %}
  <div class="wrapper outer copy-page">
    <div class="page-title">
      <h1>{{ cms.contact.name }}</h1>
    </div>
    <section id="copy">
      <ul class="contact">
        <li>Email: <a href="mailto:{{ cms.contact.email }}">{{ cms.contact.email }}</a></li>
        <li>Twitter: <a href="{{ cms.contact.twitter_link }}">{{ cms.contact.twitter }}</a> </li>
        <li>Facebook: <a href="{{ cms.contact.facebook_link }}">{{ cms.contact.facebook }}</a> </li>
        <li>Phone: <a href="tel:{{ cms.contact.phone }}">{{ cms.contact.phone }}</a></li>
        <li>Address: <a href="{{ cms.contact.address_link }}">{{ cms.contact.address }}</a></li>
      </ul>
    </section>
  </div>
{% endblock %}