{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - {{ cms.runyourown.name }}{% endblock %}
{% block content %}
  <div class="wrapper outer copy-page new">
    <div class="page-title"> 
      <h1>{{ cms.runyourown.name }}</h1>
    </div>
    <section id="copy">
      {{ cms.runyourown.top_copy|markdown }}
      {% for row in cms.runyourown.steps %}
        <h1 class="subtitle"><i class="fa fa-fw fa-{{ row.font_awesome_icon }}"></i> {{ row.title }}</h1>
        {{ row.list|markdown }}
      {% endfor %}
      {{ cms.runyourown.contact_form|safe }}
    </section>
  </div>
{% endblock %}
